.container {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

.checkbox-container {
	display: flex;
	align-items: center;
	font-size: 24px;
	text-transform: capitalize;
}

.checkbox-container label {
	margin-left: 5px;
}

.checkbox {
	width: 20px;
	height: 20px;
	margin: 8px;
}

.ml-2 {
	margin-left: 32px;
}
